:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    transition: 0.2s ease-in-out;
}

a:hover {
    opacity: 0.7;
}
 

.logo{
    display: flex;
    align-items: center;
    padding:0 50px;
}
.container1{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.box1{
    display: flex;
    width: 50%;
    justify-content: center;
}

.container img{
    height: 300px;
    margin: 20px;
}

.logo img{
    height: 60px;
}

.container2{
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}

.box2 {
    display: flex;
    width: 50%;
    justify-content: center;
}

.box3{
    display: flex;
    width: 50%;
    justify-content: center;
}
.box4{
    display: flex;
    width: 50%;
    justify-content: center;
}
.nav a{
    color: #FFFFFF;
    text-decoration: none;
}
.text{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.text input{
    background-color:#6650FF;
    border-radius: 100px;
    padding: 10px;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    outline: 0;
}

footer {
  
    background-color: #292148;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

footer .call img {
    width: 30px;
}

footer .call {
    display: flex;
    width: 230px;
    justify-content: space-evenly;
    align-items: center;
}
.logo img{
    margin-right: 20px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}


@media(min-width: 12px) and (max-width: 425px)
{
    .container1{
        display: flex;
        margin: 0px;
        justify-content: space-evenly;
        margin-bottom: 20px;
        flex-wrap: wrap;
        width: 100%;
    }
    .container2{
        display: flex;
        margin: 0px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .box1{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .box2 {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .box3{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .box4{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
 
    footer .call {
        display: flex;
        width: 230px;
        justify-content: space-evenly;
        align-items: center;
    }
    footer {
        height: 80px;
        background-color: #292148;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0px  !important;
    }
    #noHoraire {display: none;}

    .container img{
        height: 200px;
        margin: 20px;
    }
        .text{
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            width: 200px;
        }
        
} 





.navbar-toggler {
    position: absolute;
    right: 0;
   }

nav {
    width: 100%;
    background-color: #6650FF !important;
    display: flex; 
    align-items: center;
    padding: 0 30px;
}

nav a {
    display: flex;
    align-items: center;
    color: white !important;
    font-weight: bold;
}

nav a img { 
    margin-right: 20px; 
 }

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 80px;
}

nav ul li {
    margin: 0 20px;
} 